.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
docs
List of the Birds of Peru 2023 01.pdf
List of the Birds of Peru 2024 03.pdf
List of the Birds of Peru 2025 01.pdf
List of the Birds of Peru 2025 02.pdf
List of the Birds of Peru 2025 03.pdf
List of the Birds of Peru 2025 04.pdf
Lista de aves del Peru 2021 07.pdf
List_birds_peru_2009_keyword_principal.pdf
analisis.R
aves_peru_2024_v1.xlsx
avesperu_jun2025.xlsx
avesperu_na_2024v1.xlsx
avesperu_v3.xlsx
oldest_data
List of the Birds of Peru 2024 02.pdf
List of the Birds of Peru 2025 03.xlsx
avesperu_jun2025_.xlsx
